body
{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color:whitesmoke;
}
.h1
{
    float: left;
    background: teal;
    color: white;
    padding:5px;

}
section.content
{
    background-image: url("http://people.csail.mit.edu/jaffer/Solid/greystone.jpg");
    height:100%;
    margin-bottom:auto;
}
.content
{
    background: snow;
    padding:30px;
    
}
footer.footer
{
    position: fixed;
        border-top: 5px solid green;
        height: 22px;
        text-align: center;
        color: grey;
        font-size: 12px;
        background: rgb(104, 103, 103);
        width:100%;
        bottom:0;
}
 

.rounded
{
    height: 220px;
    width: 300px;
}
@media (min-width: 200px){
    .navbar-expand-sm {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-collapse {
        display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    }

    .navbar-expand-sm .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
} 